@import "tailwindcss";

@theme {
  --font-mono: var(--font-jet-brains);
}

:root {
  --background: #fafafa;
  --foreground: #1d1d1f;
  --terminal-highlight: #fafafa;
  --terminal-highlight-prompt: #4ade80;
  --terminal-highlight-generic: red;
}

.dark {
  --background: #1d1d1f;
  --foreground: #fafafa;
  --terminal-highlight: #1d1d1f;
  --terminal-highlight-prompt: #4ade80;
  --terminal-highlight-generic: yellow;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: JetBrains Mono;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#nav {
  box-shadow: 0 30 100px 50px var(--foreground);
}

#highlight {
  background-color: var(--foreground);
}

#svg-icon {
  fill: var(--foreground);
}

#stroke {
  stroke-width: 3;
  fill: var(--foreground);
}

#terminal-highlight {
  background-color: var(--terminal-highlight);
}

#terminal-highlight-prompt {
  color: var(--terminal-highlight-prompt);
}

#terminal-highlight-generic {
  color: var(--terminal-highlight-generic);
}

@media screen and (min-width: 768px) {
  #nav {
    box-shadow: 0 30 100px 100px var(--foreground);
  }
}
