@import "tailwindcss";

@theme {
  --font-mono: var(--font-jet-brains);
}

:root {
  --background: #CCCCCC;
  --gray: #757575;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: JetBrains Mono;
}

#nav {
  box-shadow: 0 30 100px 50px #CCCCCC;
}

@media screen and (min-width: 768px) {
  #nav {
    box-shadow: 0 30 100px 100px #CCCCCC;
  }
}